
:root{
    --primary:#08c77e;
    --header:#065537;
    --body:#324940;
    --font:#fff;
    --footer:#253630;
    --placeholder:#adadad;
}


body{
    margin:0;
    padding:0;
    background-color: var(--body);
    max-width:100vw;
    width:100%;
}
*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:var(--font);
}

a, button, input,  textarea{
    color:inherit;
    outline:none;
    text-decoration: none;
}

input{
    width:100%;
    border:none;
}


a.icon{
    color: #03b46a;
    text-decoration: none;
    font-size: 0.75rem;
    background:#0002;
    border-radius:10px;
    padding:0.5rem;
    width:5rem;
    height:5rem;
    box-shadow:-1px -1px 6px -3px #03b46a, 1px 1px 5px #0008;
}

.box{
    border-radius:7px;
    box-shadow:0 0 12px -4px #0007;
    background-color: #fff2;
}

.content-all{
    padding:1rem;
    display:grid;
    margin:0 auto;
    /* border:solid 1px red; */
    width: 100%;;
}


#header{
    background:var(--header);
    color:var(--primary);
    padding:0.75rem;
}


.tt2{
    font-size:1.5rem;
}

.color-placeholder{
    color:var(--placeholder);
}

.fz-09{
    font-size:0.9rem;
}

.bg-transparent{
    background:transparent;
}

.ta-right{
    text-align:right;
}

.celda{
    /* border-bottom:solid 1pxred; */
    display:grid;
    background:#0001;
    padding:0.2rem;
    border-radius:5px;
    width:100%;
    max-width:100%;
}

.celda > span{
    color:var(--placeholder);
    font-size: 0.85rem;
}

.celda > input{
    background:transparent;
    border-bottom:solid 1px var(--placeholder);
    border:none;
    font-size:1rem;
}

.calc{
    border-bottom:solid 1px #0002;
    margin-bottom:2rem;
    max-width:130mm;
    margin:0 auto 1rem;
}

.color-primary{
    color:var(--primary);
}

.result{
    background:#0002;
    margin-bottom:2rem;
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
    border:none;
    border-radius:10px;
    padding:1rem ;
}

.result input{
    background:#fff0;
    border:none;
    display:block;
    margin:0 auto;
    font-size:1.25rem;
    padding:0.25rem;
    text-align:center;
}

.result span{
    color:var(--placeholder);
    font-size: 0.85rem;
    font-weight: inherit;

}


footer{
    background:var(--footer);
    font-size:0.75rem;
    padding:0.25rem;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin:0;
    color:var(--placeholder);
    width: calc(100vw - 1.2rem);
    margin-left: -1rem;
    margin-bottom: -0.75rem;
}

footer > div{
    color:var(--placeholder);
    font-size:0.6rem;
}


.fw-4{font-weight:400;}
.fw-5{font-weight:500;}
.fw-6{font-weight:600;}
.fw-7{font-weight:700;}
.fw-8{font-weight:800;}
.fw-9{font-weight:900;}